body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/ab/88/80/ab8880cdb8add65fa298a6cb458a805c.jpg'); /* Set your background image */
    color: #ffffff; /* Light text color */
}
  
.navbar {
    background-color: #1f1f1f; /* Slightly lighter dark for the navbar */
    
    padding: 10px;
    display: flex;
    justify-content: center; /* Center the taskbar content */
    align-items: center;
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Add some margin around the navbar */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the taskbar content */
    align-items: center;

}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #c9b0ff; /* Light text color for links */
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #06b300; /* Change color on hover */
}

.nav-links img {
    display: flex;
    justify-content: center; /* Center images if needed */
    align-items: center;
    border-radius: 20%; /* Rounded corners */
    width: 6%; /* Set image size to 10% of the parent element */
}

.content {
    padding: 20px;
    text-align: center; /* Center text in the content area */
    position: relative; /* Position relative to stack above blurred background */
    z-index: 1; /* Ensure content is above the blurred background */
}